.table-shopping .img-container {
  width: 70px;
  max-height: 120px;
  overflow: hidden;
  display: block;
}

.table .th-description {
  //max-width: 150px;
}

table.table {

}

.table.table-shopping > thead > tr > th {
  font-size: .875em;
  padding: 6px 6px;
  color: #333;
}