.table-shopping .img-container {
  width: 80px;
  max-height: 120px;
  overflow: hidden;
  display: block;
}

.table .th-description {
  max-width: 150px;
}

.table-shopping>thead>tr>th {
  font-size: .7rem;
  text-transform: uppercase;
}