.header-logo svg {
  width: 180px;
  //fill: $orange-500;
  fill: $orange;
}

.nav-logo svg {
  width: 100px;
  //fill: $orange-500;
  fill: #ca9f5e;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-right: 15px;
}

.footer-logo svg {
  width: 120px;
  fill: $grey-400;
}

.brand-logo img {
  width: 120px;
  height: auto;
}

.brand-logo-banner img {
  width: 220px;
  height: auto;
}