.header-logo svg {
  width: 180px;
  //fill: $orange-500;
  fill: #ca9f5e;
}

.footer-logo svg {
  width: 120px;
  fill: $grey-400;
}

.brand-logo img {
  width: 120px;
  height: auto;
}

.brand-logo-banner img {
  width: 220px;
  height: auto;
}