.opacity-25 {
  opacity: 0.25;
}
.opacity-50 {
  opacity: 0.5;
}
.opacity-75 {
  opacity: 0.75;
}

.hover-underlined:hover {
  text-decoration: underline;
}
.top-0 {
   top: 0;
 }
.bottom-0 {
  bottom: 0;
}
.right-0 {
  right: 0;
}