.opacity-25 {
  opacity: 0.25;
}
.opacity-50 {
  opacity: 0.5;
}
.opacity-75 {
  opacity: 0.75;
}

.hover-underlined:hover {
  text-decoration: underline;
}
.top-0 {
   top: 0;
 }
.bottom-0 {
  bottom: 0;
}
.right-0 {
  right: 0;
}

.mobile-search {
  background-color: white;
  -webkit-box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
}

.bg-darkred {
  background-color: darkred;
}