[client]
default-character-set = utf8mb4

[mysqld]
general_log = 0
general_log_file = /var/lib/mysql/general.log
lower_case_table_names=1
default_authentication_plugin=mysql_native_password

init-connect='SET collation_connection = utf8mb4_unicode_ci'
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

[mysql]
default-character-set = utf8mb4
